app = "masplay-streamingtv"
primary_region = "gru"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8080"
  NODE_ENV = "production"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "5s"
    grace_period = "15s"
    restart_limit = 2

  [[services.concurrency]]
    type = "connections"
    soft_limit = 40
    hard_limit = 80
